* {
    transition: all 0.5s;
}

body {
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: orange;
    color: white;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    margin: 0;
}

.container h1 a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

nav ul li a:hover {
    color: black;
    font-size: 20px;
    transform: scale(1.3);
}

.hero {
    background-color: black;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero h2 {
    margin: 0;
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

.btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn2:hover {
    transform: scale(1.3);
}

.menu-section {
    padding: 40px 20px;
    text-align: center;
}

.menu-section {
    background-color: #ffffff;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    max-width: 300px;
}

.menu-section .gotoreservation {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.menu-section .gotoreservation:hover {
    transform: scale(1.3);
}

.menu-section .gotoreservation a {
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    background-color: orange;
    color: #333;
    margin: 0 auto;
    width: 10%;
    border-radius: 15px;
}


.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}

footer {
    background-color: orange;
}

.footerContainer {
    width: 100%;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0, 9;
}

.socialIcons a:hover {
    background-color: orange;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}